{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #000000;
}
.bg-s{
    background-color: #6359ce;
}
    </style>
<div class="container my-4">
    <div class="card-header bg-s">
        <h3 style="color: white">
            Our Brands
        </h3>
    </div>
    <hr>
    <div class="row">
    {% if data %}
        {% for brand in data %}
            <div class="col-md-3 mb-4">
                <div class="card">
                    <div class="card-shadow">
                        <a href="/brand-product-list/{{ brand.id }}"><img height="100px" width="100px" src="/media/{{ brand.image }}" class="card-img-top" alt="{{ brand.title }}"></a>
                        <div class="card-body">
                            <h6 class="card-text text-center"><a href="">{{ brand.title }}</a></h6>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
</div>


{% endblock %}