{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #000000;
}
.bg-s{
    background-color: #6359ce;
}

    </style>
<div class="wow fadeInDown" data-wow-delay="0.3s">
    <div class="container my-4" >
        <div class="card-header bg-s">
            <h3 style="color: white">
                Change Your Password
            </h3>
        </div>
        <hr>
        <p>Password Has been changed successfully. Please <a href="{% url 'login' %}">Login Here</a></p>
    </div>
</div>


{% endblock %}